.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.amplifyrc
.graphqlconfig.yml
public/js/bundle.js
amplify/#current-cloud-backend/amplify-meta.json
amplify/.config/aws-info.json
amplify/.config/project-config.json
amplify/backend/amplify-meta.json
src/aws-exports.js
package-lock.json
amplify/backend/awscloudformation/nested-cloudformation-stack.yml
amplify/backend/auth/cognitobbc066e4/parameters.json
amplify/backend/auth/cognitobbc066e4/cognitobbc066e4-cloudformation-template.yml
amplify/#current-cloud-backend/auth/cognitobbc066e4/parameters.json
amplify/#current-cloud-backend/auth/cognitobbc066e4/cognitobbc066e4-cloudformation-template.yml
